@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    font-weight: 400;
    color: #727272;
    font-size: 16px;
}

/* header-section */
.header{
    width: 100%;
    background-color: #FF900E1A;
}

.header-top{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    padding-top: 50px;
}

.nav{
    width: 35%;
}
nav{
    width: 100%;
    height: 100%;
}

.nav-ul{
    display: flex;
    justify-content: space-between;

}

nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.basic-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 25px;
}
.nav-txt{
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.header-text-part{
    text-align: center;
}

.big-title{
    font-weight: 700;
    font-size: 64px;
    padding-bottom: 20px;
    color: #131313;
}
.header-text-part h6{
    padding-bottom: 30px;
}

.btn{
    background: #FF900E;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-bottom: 35px;
}
.btn a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.header-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
    max-width: 100%;
    height: auto;
}
.hd-image{ 
    width: 100%;
    height: auto;
}
@media screen and (max-width : 576px) {
    .nav-ul{
        display: inline;
        text-align: center;
    }
    nav li{
        margin-bottom: 15px;
    }
    .nav-txt{
        background-color: rgb(88, 134, 88);
        padding: 5px;
        border-radius: 5px;
        color: white;
    }
    .nav-txt:hover{
        background-color: antiquewhite;
        color: #424242;
    }
}

/* main body  */

/* top body  */

.top-body{
    display: flex;
    padding-bottom: 5%;
}
.top-body-image{
    width: 50%;
}
.images{
    display: grid;
    grid-template-columns: 340px 340px; 
    gap: 25px;
    align-items: center;
    justify-content: right;
    margin-top: 10%;
}
.quick-list{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.features{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}
.top-body-texts{
    text-align: left;
    width: 50%;
    padding-top: 20%;
    padding-left: 7%;
}
.top-body-description{
    padding-bottom: 25px;
}
@media screen and (max-width : 576px){
    .top-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-body-texts h1,h3{
        text-align: center;
    }
}

/* mid body  */

.mid-body-div{
    display:flex; 
    margin: 0  15%;
}
.text-block-spr h3{
    padding-bottom: 5%;
}
.text-blocks{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 5%;
    margin-bottom: 5%;
}
.text-blocks h3{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    padding-bottom: 2%;
}
.mid-body-text{
    padding-right: 5%;
}
.mid-img{
    padding-left: 5%;
}
.big-btn{
    background: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 3%;
}
.big-btn-big-text{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
 
}
.big-btn-small-text{
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

@media screen and (max-width : 576px){
    .mid-body-div{
        display: block;
    }
    .text-block-spr{
        text-align: center;
    }
    .mid-body-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mid-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    .big-btn-big-text{
        font-weight: 700;
        font-size: 35px;
    }
    .big-btn{
        align-items: center;
    }